.ShopSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 5rem;
}

.ShopTitle {
    font-size: 3rem;
    letter-spacing: 5px;
    margin: 2% 5%;
}

/* Medie Query */

@media (max-width: 768px) {

    .ShopSection {
        padding: 10%;
    }

    .ShopTitle {
        text-align: center;
    }
}

@media (max-width: 480px) {
     .ShopSection {
        padding: 5% 1rem;
    }
}
